<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% for post in posts %}
    <h1>{{ post.title }}</h1>
    <h2>{{ post.text| truncatewords:10 }}</h2>
    {% if post.category %}
    <h3>{{ post.category.name }}</h3>
    {% else %}
    <h3> No category </h3>
    {% endif %}
    <img src="{% if post.image.url %}" alt="">
    {% endif %}
    {% for tags in post.tags.all %}
    {{ tags.name }}
    {% endfor %}
    {% endfor %}
</body>
</html>
